{% load static %}

<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
        <link rel="shortcut icon" href="https://archerygb.org/images/favicon4.jpg" type="image/x-icon">
        <link rel="stylesheet" href="https://use.typekit.net/dja2fou.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <title>{% if page_title %}{{ page_title }} | {% endif %}Archery GB Junior Rankings</title>
    </head>
    <body>
        <header>
            <h3 class="header-logo">Archery GB</h3>
            {% if user.is_authenticated %}
            <div><a href="{% url "rankings" %}">2025 Junior Rankings</a></div>
            {% endif %}
            <div><a href="https://archerygb.org/competitions/national-rankings">National rankings home</a></div>
        </header>
        <div class="container {% block container_class %}{% endblock %}">
            {% block content %}
            {% endblock %}
        </div>
        {% block js %}
        {% endblock %}
    </body>
</html>
